@model IEnumerable<WS.Data.UserDocument>
@{
    ViewBag.Title = "Все смартфоны";
}
<a asp-action="Create">add</a>
<table class="table">
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.IdUser</td>
        <td>@item.IdDocument</td>
        <td>
            <a asp-action="Details" asp-controller="UserDocument" asp-route-id1="@item.IdUser" asp-route-id2="@item.IdDocument">Подробнее</a> |
            <a asp-action="Edit" asp-controller="UserDocument" asp-route-id1="@item.IdUser" asp-route-id2="@item.IdDocument">Изменить</a> |
            <a asp-action="Delete" asp-controller="UserDocument" asp-route-id1="@item.IdUser" asp-route-id2="@item.IdDocument">Удалить</a>
        </td>
    </tr>
    }
</table>
