@using WS.Business.ViewModels
@model IEnumerable<DocumentViewModel>
<script>
    SetParentId(@ViewBag.ParentId);
</script>
    <table class="table filerow" id="filetable">
        <thead><tr><th>Name</th><th>Size</th><th>Date of change</th><th>IsFile</th></tr></thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
            <tr class="filerow" id="@Model.ElementAt(i).Document.Id" ondblclick="DoubleClickAction(@Convert.ToInt32(Model.ElementAt(i).Document.IsFile),@Model.ElementAt(i).Document.Id)" onclick="ShowFileOptions(@Model.ElementAt(i).Document.Id)">
                @*<td><img src=@Model.ElementAt(i).Type width="5" height="5" alt="Type" /></td>*@
                @if (Model.ElementAt(i).IsShared)
                {
                    <td class="table_file_name"><i class="@Model.ElementAt(i).Icon" aria-hidden="true"></i> @Model.ElementAt(i).Document.Name<i class="fa fa-users fa-lg" aria-hidden="true"></i></td>
                }
                else
                {
                    <td class="table_file_name"><i class="@Model.ElementAt(i).Icon" aria-hidden="true"></i> @Model.ElementAt(i).Document.Name</td>
                }
                <td class="table_file_size">@Model.ElementAt(i).Size</td>
                <td class="table_file_date_change">@Model.ElementAt(i).Document.Date_change</td>
                <td class="table_file_is_file">@Model.ElementAt(i).Document.IsFile</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle menuButton pull-right" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-bars"></i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                            <li>Download</li>
                            <li><a href="#">Share</a></li>
                            <li><a href="#">View</a></li>
                            <li onclick="">Rename</li>
                            <li><a href="#">Cut</a></li>
                            <li><a href="#">Copy</a></li>
                            <li onclick="">Paste</li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </div>
                    
                </td>
            </tr>
            }
        </tbody>
    </table>
