@using WS.Business.ViewModels
@model IEnumerable<DocumentViewModel>
<script>
    SetParentId(@ViewBag.ParentId);
</script>
<table class="table filerow" id="filetable">
    <thead><tr><th>Name</th><th>Size</th><th>Deleted</th><th>IsFile</th></tr></thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr class="filerow" id="@Model.ElementAt(i).Document.Id" ondblclick="DoubleClickAction(@Convert.ToInt32(Model.ElementAt(i).Document.IsFile),@Model.ElementAt(i).Document.Id)" onclick="ShowDeletedFileOptions(@Model.ElementAt(i).Document.Id)">
                <td class="table_file_name">@Model.ElementAt(i).Document.Name</td>
                <td class="table_file_size">@Model.ElementAt(i).Size</td>
                <td class="table_file_date_change">@Model.ElementAt(i).Document.Date_change</td>
                <td class="table_file_is_file">@Model.ElementAt(i).Document.IsFile</td>
            </tr>
        }
    </tbody>
</table>