@using WS.Business.ViewModels
@model IEnumerable<DocumentView>
<script>
    SetParentId(@ViewBag.ParentId);
</script>
    <table class="table filerow" id="filetable">
        <thead><tr><th>Name</th><th>Size</th><th>Date of change</th><th>IsFile</th></tr></thead>
        @for (int i = 0; i < Model.Count(); i++)
        {
        <tr class="filerow" id="@Model.ElementAt(i).Id" ondblclick="DoubleClickAction(@Convert.ToInt32(Model.ElementAt(i).IsFile),@Model.ElementAt(i).Id)" onclick="ShowFileOptions(@Model.ElementAt(i).Id)">
            <td>@Model.ElementAt(i).Name</td>
            <td>@Model.ElementAt(i).Size</td>
            <td>@Model.ElementAt(i).Date_change</td>
            <td>@Model.ElementAt(i).IsFile</td>
        </tr>
        }
    </table>
