@using WS.Business.ViewModels
@model IEnumerable<DocumentViewModel>
<script src="~/js/dropzone.js"></script>

<script src="~/js/Functions.js"></script>

<script src="~/lib/jQuery-contextMenu-master/dist/jquery.contextMenu.min.js"></script>
<script src="~/lib/jQuery-contextMenu-master/dist/jquery.ui.position.js"></script>
<script src="~/lib/jQuery-contextMenu-master/dist/jquery.contextMenu.js"></script>
<link rel="stylesheet" href="~/lib/jQuery-contextMenu-master/dist/jquery.contextMenu.css">


@Html.Hidden("fullpath", "")
@Html.Hidden("parentId", "")
<script>
    GetParentId();
    $(document).ready(function () {
        $('#backParentId').hide();
        $('#dropzone-drop-area').load('@Url.Action("ReturnDeleted", "Document", new {parentId=ViewBag.ParentId })');
    });
    $.contextMenu({
        selector: '.filerow',
        callback: function (key, options) {
            DeleteContextResult(key, $(this).attr("id"), $(this).attr("name"))
        },
        items: {
            "delete permanently": { name: "Delete permanently", icon: "delete" },
            "restore": { name: "Restore", icon: "fas fa-backward" },
        }
    });
</script>
<div class="row form-control-static">
    <div class="form-group">

    </div>
    <div class="col-md-12">
        <input style="visibility:hidden" id="hiddenTaskId"/>
        <h2>Deleted Files</h2>
        <form action="/Document/UploadFiles" id="uploader">
            <div id="dropzone-drop-area" style="cursor:pointer">
            </div>
        </form>
    </div>
</div>
@{
    Html.RenderPartial("_Rename", new DocumentView());
    @Html.Partial("../Document/_FinalDeletModal.cshtml");
    @Html.Partial("../Document/_RestoreModal.cshtml");
    
}

