@using WS.Business.ViewModels;

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-5">
                        <h4 class="modal-title">Sharing settings</h4>
                    </div>
                    <div class="col-sm-7">
                        <button class="pull-right btn btn-default" id="closePAccess" onclick="closePublicAccess(@Model.Id);">Disable access by link</button>
                        <button class="pull-right btn btn-default" id="openPAccess" onclick="openPublicAccess(@Model.Id);">Enable access by link</button>

                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div id="publicLink">
                    <div class="row">
                        <div class="col-sm-8 accessRow1">
                            <select class="form-control" onchange="changeAccessLevel(@Model.Id)" id="sel1">
                                <option value="false">Anyone who has a link can view</option>
                                <option value="true">Anyone who has a link can edit</option>
                            </select>
                        </div>
                        <div class="col-sm-4 accessRow2">
                            <button id="copy-btn" class="btn btn-default btn-block" onclick="CopyToClipboard();">Copy Link</button>
                        </div>
                    </div>
                    <p><input id="pl" readonly class="form-control" type="text"></p>
                    <p><hr></p>
                </div>
                <div class="privateLink">
                    <h5>Invite people:</h5>
                    <div class="row">
                        <div class="col-sm-8 accessRow1">
                            <input id="privateEmail" placeholder="Enter email" class="form-control" type="text">
                        </div>
                        <div class="col-sm-4 accessRow2">
                            <select class="form-control" id="sel3">
                                <option value="false">View</option>
                                <option value="true">Edit</option>
                            </select>
                        </div>
                    </div>
                    <p class="addEmail">
                        <button onclick="sendInvite(@Model.Id);" class="btn btn-default">Add</button>
                        <button class="pull-right btn btn-default" id="closeLAccess" onclick="closeLimitedAccess(@Model.Id);">Disable restricted access by link</button>
                    </p>

                    <h5 id="accessLevelHeader">Who has access</h5>
                    <ul class="list-group EmailsList"></ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Done</button>
            </div>
        </div>

    </div>
</div>