@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using WS.Data
@model WS.Business.ViewModels.AccountViewModels.LoginViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Account/Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 col-md-offset-1 loginAdd">
        <div id="background" class="layer-0"></div>
        <div id="planet-1" class="planet layer-1"></div>
        <div id="planet-2" class="planet layer-2"></div>
    </div>
    <div class="col-md-4 col-md-offset-2 loginAdd">
        <section>
            <h4>@ViewData["Title"]</h4>
            <p class="pull-right">
                or
                <a class="right" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">create a new account</a>
            </p>
            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div>
                        <button type="submit" class="btn btn-facebook btn-social btn-block btn-space" name="provider" value="@loginProviders[1].Name" title="Log in using your @loginProviders[1].DisplayName account"><i class="fab fa-facebook-f"></i>Log in using your @loginProviders[1].Name</button>
                        <button type="submit" class="btn btn-google btn-social btn-block btn-space" name="provider" value="@loginProviders[0].Name" title="Log in using your @loginProviders[0].DisplayName account"><i class="fab fa-google"></i>Log in using your @loginProviders[0].Name</button>
                    </div>
                </form>
            }
            <div class="hr-label text-center">
                <span>or</span>
            </div>

            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <input placeholder="Email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input placeholder="Password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group non-margin">
                    <div class="checkbox non-margin">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn-square btn-submit">Log in</button>
                </div>
                <div class="form-group text-right">
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>

                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
